<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
   <link rel="stylesheet" href="../css/异常单详情-已提交.css">
   <script src="../../public/fontSize-auto.js"></script>
</head>

<body>
   <div id="main">
      <h3>
         <span></span>订单管理
         <img src="../../img/arr_right_g.png" alt=""> 异常单列表
         <img src="../../img/arr_right_g.png" alt=""> 异常单详情
      </h3>
      <div class="basic-msg">
         <h4>基本信息</h4>
         <p class="p1">
            <span>异常单编号：D20170910001</span>
            <span>订单状态：
               <span>已提交</span>
            </span>
            <span>客户签收异常</span>
         </p>
         <span class="p2">
            <span>异常单编号：D201709155555</span>
            <span>异常类别；收货异常</span>
         </span>
         <p class="p3">
            <span>异常责任：工厂或工厂物流 </span>
            <span>处理方式：无需补货</span>
         </p>
         <p class="p4">
            <span>异常单编号：D201709155555</span>
            <span>订单联系人：苏慧</span>
            <span>联系人电话：13865235656</span>
         </p>
         <p>
            <span>
               收货地址：&ensp;&ensp;江苏省苏州市工业园区开通路100号</span>
         </p>
      </div>
      <div class="item-msg">
         <h4>异常商品</h4>
         <div class="table">
            <p class="first">
               <span class="span1">商品图片</span>
               <span class="span2">商品编码</span>
               <span class="span3">商品名称</span>
               <span class="span4">品牌</span>
               <span class="span5">商品信息</span>
               <span class="span6">供应商</span>
               <span class="span7">破损数量</span>
               <span class="span8">短少数量</span>
               <span class="span9">单位</span>
               <span class="span10">商品备注</span>
            </p>
            <p>
               <span class="span1"></span>
               <span class="span2">10100110001</span>
               <span class="span3">电动窗帘电机</span>
               <span class="span4">智能小家居</span>
               <span class="span5">型号：cc-320,材质：整体金属，颜色：白</span>
               <span class="span6">供应商名称</span>
               <span class="span7">0</span>
               <span class="span8">0</span>
               <span class="span9">个</span>
               <span class="span10"><a href="">查看备注</a></span>
            </p>
            <p>
               <span class="span1"></span>
               <span class="span2">10100110001</span>
               <span class="span3">电动窗帘电机</span>
               <span class="span4">智能小家居</span>
               <span class="span5">型号：cc-320,材质：整体金属，颜色：白</span>
               <span class="span6">供应商名称</span>
               <span class="span7">0</span>
               <span class="span8">0</span>
               <span class="span9">个</span>
               <span class="span10"><a href="">查看备注</a></span>
            </p>
         </div>
      </div>
      <div class="item-msg">
            <h4>补货信息</h4>
            <div class="table">
               <p class="first">
                  <span class="span1">商品图片</span>
                  <span class="span2">商品编码</span>
                  <span class="span3">商品名称</span>
                  <span class="span4">品牌</span>
                  <span class="span5">商品信息</span>
                  <span class="span6">供应商</span>
                  <span class="span7">破损数量</span>
                  <span class="span8">补货数量</span>
                  <span class="span9">单位</span>
                  <span class="span10">商品备注</span>
               </p>
               <p>
                  <span class="span1"></span>
                  <span class="span2">10100110001</span>
                  <span class="span3">电动窗帘电机</span>
                  <span class="span4">智能小家居</span>
                  <span class="span5">型号：cc-320,材质：整体金属，颜色：白</span>
                  <span class="span6">供应商名称</span>
                  <span class="span7">0</span>
                  <span class="span8">0</span>
                  <span class="span9">个</span>
                  <span class="span10"><a href="">查看备注</a></span>
               </p>
               <p>
                  <span class="span1"></span>
                  <span class="span2">10100110001</span>
                  <span class="span3">电动窗帘电机</span>
                  <span class="span4">智能小家居</span>
                  <span class="span5">型号：cc-320,材质：整体金属，颜色：白</span>
                  <span class="span6">供应商名称</span>
                  <span class="span7">0</span>
                  <span class="span8">0</span>
                  <span class="span9">个</span>
                  <span class="span10"><a href="">查看备注</a></span>
               </p>
            </div>
         </div>
   </div>
</body>

</html>