<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
   <link rel="stylesheet" href="../css/订单详情-已取消.css">
   <script src="../../public/fontSize-auto.js"></script>
</head>

<body>
   <div id="main">
      <h3>
         <span></span>订单管理
         <img src="../../img/arr_right_g.png" alt=""> 企业客户销售订单
         <img src="../../img/arr_right_g.png" alt=""> 订单详情
      </h3>
      <div class="basic-msg">
         <h4>基本信息</h4>
         <p class="p1">
            <span>&ensp;订单编号：D20170910001</span>
            <span>订单状态：
               <span>已取消</span>
            </span>
         </p>
         <p class="p3">
            <span>
               <i>*</i>订单联系人：苏慧</span>
            <span>
               <i>*</i>联系人电话：13989896666</span>
            <span>
               <i>*</i>收货人：苏慧</span>
         </p>
         <p class="p4">
            <span>
               <i>*</i>联系人电话：13989896666</span>
            <span>
               <i>*</i>期望到货日期：2017/10/10</span>
         </p>
         <p>
            <span>
               <i>*</i>收货地址：&ensp;&ensp;江苏省苏州市工业园区开通路100号</span>
         </p>
         <p class="p5">备注：&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;这里是备注内容</p>
      </div>
      <div class="sum-msg">
         <h4 id="shuaxin">金额信息</h4>
         <p>订单销售金额：
            <b>23760.00</b>元</p>
      </div>
      <div class="item-msg-zubao">
         <p>已选组包
            <span>
               <input class="add" type="button" value="+添加组包">
            </span>
         </p>
         <div class="table">
            <p class="first">
               <span class="span1">序号</span>
               <span class="span2">组包封面</span>
               <span class="span3">组包编码</span>
               <span class="span4">组包名称</span>
               <span class="span5">组包价格</span>
               <span class="span6">数量</span>
            </p>
            <p>
               <span class="span1">1</span>
               <span class="span2"></span>
               <span class="span3">1010011000001</span>
               <span class="span4">智能家居A包</span>
               <span class="span5">5000</span>
               <span class="span6">
                  2个</span>
            </p>
            <p>
               <span class="span1">1</span>
               <span class="span2"></span>
               <span class="span3">1010011000001</span>
               <span class="span4">智能家居A包</span>
               <span class="span5">5000</span>
               <span class="span6">
                  2个</span>
               
            </p>
         </div>
      </div>
      <div class="item-msg-danping">
         <p>已选单品
            <span>
               <input class="danping" type="button" value="+添加单品">
            </span>
         </p>
         <div class="table">
            <p class="first">
               <span class="span1">序号</span>
               <span class="span2">商品图片</span>
               <span class="span3">商品编码</span>
               <span class="span4">商品名称</span>
               <span class="span5">品牌</span>
               <span class="span6">商品信息</span>
               <span class="span7">是否存在组包中</span>
               <span class="span8">单品价格</span>
               <span class="span9">数量</span>
               
            </p>
            <p>
               <span class="span1">1</span>
               <span class="span2"></span>
               <span class="span3">1010011000001</span>
               <span class="span4">电动窗帘电机</span>
               <span class="span5">智能小家居</span>
               <span class="span6">型号：cc-320,材质：整体金属，颜色：白</span>
               <span class="span7">是</span>
               <span class="span8">100</span>
               <span class="span9">
                  2个</span>
               
            </p>
            <p>
               <span class="span1">1</span>
               <span class="span2"></span>
               <span class="span3">1010011000001</span>
               <span class="span4">电动窗帘电机</span>
               <span class="span5">智能小家居</span>
               <span class="span6">型号：cc-320,材质：整体金属，颜色：白</span>
               <span class="span7">是</span>
               <span class="span8">100</span>
               <span class="span9">
                  2个</span>
               
            </p>
         </div>
      </div>

   </div>
</body>

</html>