#above{
	width: 100%;
	height: 17%;
	box-sizing: border-box;
	position: relative;
	/*outline: 2px solid red;*/
	padding: 30px 40px 0 40px;
}
#above>p{
	width: 60%;
	height: 30%;
	display: flex;
	align-items: center;
	font-size: 18px;
	margin-bottom: 15px;
	/*outline: 1px solid black;*/
	color: #888888;
}
#above>p>span{
	display: inline-block;
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 0 10px;
	font-size: 14px;
	border-radius: 15px;
	background: #ffffff;
	cursor: pointer;
}
#above p a{
	display: inline-block;
	border-radius: 15px;
	margin-left: 18px;
	padding: 5px 10px;
	font-size: 14px;
	background: #ffffff;
}
#above p a input{
	border: none;
	outline: none;
	color: #888888;
	margin-left: 8px;
	font-size: 14px;
}
#above span b{
	margin-right: 2px;
	font-weight: 500;
}
.selected{  /*选中的类名，用作标识*/
	color: #ffffff;
}
#above .share{
	width: 22.5%;
	height: 70px;
	position: absolute;
	right: 60px;
	top: 30%;
	background: #ffffff;
}





#middle{
	width: 100%;
	height: 53%;
	box-sizing: border-box;
	padding: 0 40px;
	display: flex;
	color: #888888;
	/*outline: 2px solid green;*/
}
#middle .chart{
	width: 74%;
	height: 100%;
	margin-right: 1%;
	border-radius: 10px;
	background: #ffffff;
}

#middle .list{
	width: 24%;
	height: 100%;
	box-sizing: border-box;
	padding: 20px;
	background: #ffffff;
	border-radius: 10px;
}
#middle .list h4{
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 18px;
}
#middle .list a{
	font-size: 12px;
	padding-left: 10px;
	display: block;
	margin: 5px 0 12px 0;
}
#middle .list p{
	margin: 12px 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
}
#middle .list p span{
	width: 25%;
	/*outline: 1px solid red;*/
}
#middle .list p span:nth-of-type(1){
	width: 45%;
}
#middle .list p span:nth-of-type(3){
	width: 30%;
	text-align: center;
}

#middle .list p .num{
	color: #6ACFED;
}




#bottom{
	width: 100%;
	height: 30%;
	box-sizing: border-box;
	color: #888888;
	padding: 20px 40px 50px 40px;
	/*outline: 2px solid black;*/
}
#bottom div{
	width: 24%;
	height: 100%;
	box-sizing: border-box;
	padding: 2%;
	margin-right: 1%;
	float: left;
	border-radius: 8px;
	background: #ffffff;
}
#bottom div h3{
	font-weight: 500;
	margin-bottom: 25px;
}
#bottom div p{
	text-align: center;
	margin: 8px 0;
}
#bottom .num,#bottom .unit{
	color: #6ACFED;
	font-size: 35px;
}
#bottom .num{
	margin: 0 5px;
}
#bottom .low,#bottom .high{
	margin: 0 10px;
}
#bottom .div1 .p2 .num{
	font-size: 16px;
}
#bottom .max .num,#bottom .max .unit,#bottom .high{
	color: #FE5A01;
}
#bottom .low{
	color: #21C725;
}
