*{
   margin: 0;
   padding: 0;
}
html{font-size: 20px;}
html,body{
   width: 100%;
   height: 100%;
   box-sizing: border-box;
}
#main{
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   padding: 1.5rem;
   /* outline: 1px solid red; */
   color: #000000;
   position: relative;
   overflow: auto;
}
#main>h3{
   font-size: 0.8rem;
   font-weight: 500;
   display: flex;
   align-items: center;
   margin-bottom: 1rem;
   padding-bottom: 0.5rem;
   position: relative;
   border-bottom: 1px solid #f8f8f8;
}
#main>h3>span{
   display: inline-block;
   width: 4px;
   height: 18px;
   background: #837FBC;
   margin-right: 10px;
}
#main>h3 img{
   margin:0 5px;
}

#main>.basic-msg{
   font-size: 0.75rem;
   width: 100%;
}
#main>div>h4{
   font-size: 0.85rem;
   color: #837FBC;
   margin-bottom: 1rem;
}
#main>div>p{
   width: 100%;
   display: flex;
   align-items: center;
   margin: 0.8rem 0;
}
.basic-msg>p i{
   color: red;
   margin-right: 3px;
}
.basic-msg>.p1>span{
   width: 20%;
}
.basic-msg>.p1>span>span{
   color: #837FBC;
}
.basic-msg>.p2>select{
   width: 40%;
   height: 1.5rem;
   padding-left: 0.5rem;
   border: 1px solid #b0b0b0;
   outline: none;
   border-radius: 6px;
}
.basic-msg>.p3>span{
   width: 30%;
}
.basic-msg>.p3 input{
   width: 12rem;
   height: 1.5rem;
   padding-left: 0.5rem;
   border: 1px solid #b0b0b0;
   outline: none;
   border-radius: 6px;
}
.basic-msg>.p4>span:nth-of-type(1){
   width: 30%;
}
.basic-msg>.p4>span:nth-of-type(1)>input{
   width: 12rem;
   height: 1.5rem;
   padding-left: 0.5rem;
   border: 1px solid #b0b0b0;
   outline: none;
   border-radius: 6px;
}
.basic-msg>.p4>span:nth-of-type(2)>input{
   width: 30rem;
   height: 1.5rem;
   padding-left: 0.5rem;
   border: 1px solid #b0b0b0;
   outline: none;
   border-radius: 6px;
}
.basic-msg>.p5 input{
   width: 50rem;
   height: 1.5rem;
   padding-left: 0.5rem;
   border: 1px solid #b0b0b0;
   outline: none;
   border-radius: 6px;
}

#main>.sum-msg{
   font-size: 0.75rem;
   width: 100%;
}
.sum-msg>p b{
   font-size: 0.85rem;
   margin: 0 5px 0 10px;
   color: #FD7342;
}
.sum-msg>p>span{
   width: 30%;
}
.sum-msg>p>span>input{
   width: 12rem;
   height: 1.5rem;
   padding-left: 0.5rem;
   border: 1px solid #b0b0b0;
   outline: none;
   border-radius: 6px;
   margin: 0 8px;
}
.sum-msg>p>span>b{
   margin: 0 10px;
   color: #FD7342;
}


#main>div{
   font-size: 0.75rem;
   width: 100%;
   margin-top: 1.5rem;
}
.item-msg-zubao>p,.item-msg-danping>p{
   position: relative;
   color: #837FBC;
}
.item-msg-zubao>p>span,.item-msg-danping>p>span{
   position:absolute;
   right: 2rem;
   bottom: 0;
}
.item-msg-zubao>p>span>input,.item-msg-danping>p>span>input{
   width: 5rem;
   height: 1.5rem;
   background: #21DEB4;
   outline: none;
   border: none;
   color: #fff;
   border-radius: 5px;
   cursor: pointer;
}
.item-msg-zubao>.table,.item-msg-danping>.table{
   width: 100%;
}
.item-msg-zubao>.table>p,.item-msg-danping>.table>p{
   width: 100%;
   height: 2.5rem;
   /* outline: 1px solid green; */
   display: flex;
   align-items: center;
   border-bottom: 1px solid #f8f8f8;
}
.item-msg-zubao>.table>.first,.item-msg-danping>.table>.first{
   background:#F8F8F8;
}
.item-msg-zubao>.table span>input,.item-msg-danping>.table span>input{
   width: 2.5rem;
   margin-right: 2px;
}
.item-msg-zubao>.table span{
   width: 16%;
   text-align: center;
}
.item-msg-danping>.table span{
   width: 11%;
   text-align: center;
}


