<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="../jquery/jquery-3.2.1.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/修改密码.css">
</head>
<body>
	<div id="main">
		<div class="top"><a class="a1">账号管理</a>><a href="修改密码.html" class="a2">修改登录密码</a></div>
		<div class="form">
			<p><span>旧密码：</span><input type="text" placeholder='请输入旧登录密码'></p>
			<p><span>新密码：</span><input type="text" placeholder='请输入新密码'></p>
			<p><span>新密码确认：</span><input type="text" placeholder='请再次输入新密码'></p>
			<button>保存</button>
		</div>

	</div>
</body>
</html>