<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../css/取消订单.css">
	<script src="../jquery/jquery-3.2.1.js"></script>
</head>
<body>
	<div id="main">
		<div class="top"><a class="a1">订单管理</a>><a href="订单列表.html" class="a2">订单列表</a>><a class="a3" href="取消订单.html">订单详情</a></div>
		<div class="basic_msg">
			<p>基本信息</p>
			<div class="div1 div">
				<span>订单编号：<span>EO201709260002</span></span>
				<span>订单状态：<span>已取消</span></span>
			</div>
			<div class="div2 div">
				<span>订单联系人：苏慧</span>
				<span>联系人电话：18712341234</span>
				<span>收货人：苏鹿</span>
			</div>
			<div class="div2 div">
				<span>收货人电话：13712341234</span>
				<span>期望到货日期：2017/9/25</span>
			</div>
			<div class="div4">
				<span>收货地址：江苏省苏州市工业园区开源路36号丁家宜对面</span>
			</div>
			<div class="div5">
				<span>订单备注：这里展示的是订单的备注内容</span>
			</div>
		</div>
		<div class="sum_msg">
			<p class="title">金额信息</p>
			<span>订单销售金额：17500 元</span>
		</div>
		<div class="yixuanzubao">
			<p>已选组包</p>
			<div class="tr">
				<span class="span1">序号</span>
				<span class="span2">组包封面</span>
				<span class="span3">组包编码</span>
				<span class="span4">组包名称</span>
				<span class="span5">组包价格</span>
				<span class="span6">数量</span>
			</div>
			<div class="td">
				<span class="span1">1</span>
				<span class="span2"></span>
				<span class="span3">PK2017090001</span>
				<span class="span4">智能家居A包</span>
				<span class="span5">5000元</span>
				<span class="span6">1</span>
			</div>
			<div class="td">
				<span class="span1">2</span>
				<span class="span2"></span>
				<span class="span3">PK2017090002</span>
				<span class="span4">智能家居B包</span>
				<span class="span5">6000元</span>
				<span class="span6">2</span>
			</div>
		</div>
		<div class="yixuandanping">
			<p>已选单品</p>
			<div class="tr">
				<span class="span1">序号</span>
				<span class="span2">商品图片</span>
				<span class="span3">商品编码</span>
				<span class="span4">商品名称</span>
				<span class="span5">品牌</span>
				<span class="span6">商品信息</span>
				<span class="span7">是否在已选组包中</span>
				<span class="span8">商品价格</span>
				<span class="span9">数量</span>
			</div>
			<div class="td">
				<span class="span1">1</span>
				<span class="span2"></span>
				<span class="span3">101001100001</span>
				<span class="span4">电动窗帘电机</span>
				<span class="span5">智能小家具</span>
				<span class="span6">型号：CC-320,材质：塑料金属，颜色：白</span>
				<span class="span7">是</span>
				<span class="span8">100</span>
				<span class="span9">1件</span>
			</div>
			<div class="td">
				<span class="span1">2</span>
				<span class="span2"></span>
				<span class="span3">101001100002</span>
				<span class="span4">控制主机</span>
				<span class="span5">智能小家具</span>
				<span class="span6">型号：LL-320,材质：塑料金属，颜色：黑</span>
				<span class="span7">否</span>
				<span class="span8">200</span>
				<span class="span9">2台</span>
			</div>

		</div>
	</div>
</body>
</html>