<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="../jquery/jquery-3.2.1.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/异常订单-需要补货.css">
</head>
<body>
	<div id="main">
		<div class="top"><a class="a1">订单管理</a>><a href="异常订单.html" class="a2">异常订单列表</a>><a href="异常订单-需要补货.html">异常订单详情</a></div>
		<div class="title">基本信息</div>
		<p>
			<span>异常单编号：XXXXXXXXXXX</span>
			<span>异常单状态：已提交</span>
			<span>异常单类型：客户签收异常</span>
		</p>
		<p>
			<span>采购单编号：XXXXXXXXXXX</span>
			<span>异常类别：收货异常</span>
		</p>
		<p>
			<span>异常责任：工厂货工厂物流</span>
			<span>处理方式：补货</span>
		</p>
		<p>
			<span>销售订单编号：XXXXXXXXXXX</span>
			<span>订单联系人：苏慧</span>
			<span>联系人电话：13933993990</span>
		</p>
		<p>
			<span>收货人：苏慧</span>
			<span>收货人电话：13933996985</span>
			<span>收货地址：江苏省 苏州市 工业园区 开源路36号</span>
		</p>
		<div class="title">异常商品</div>
		<div class="table1">
			<p class="title">
				<span class="span1">商品图片</span>
				<span class="span2">商品编码</span>
				<span class="span3">商品名称</span>
				<span class="span4">品牌</span>
				<span class="span5">商品信息</span>
				<span class="span6">破损数量</span>
				<span class="span7">短少数量</span>
				<span class="span8">商品备注</span>
			</p>
			<p>
				<span class="span1"></span>
				<span class="span2"></span>
				<span class="span3"></span>
				<span class="span4"></span>
				<span class="span5"></span>
				<span class="span6">2个</span>
				<span class="span7">2个</span>
				<span class="span8">查看备注</span>
			</p>
		</div>
		<div class="title">补货信息</div>
		<div class="table2">
			<p class="title">
				<span class="span1">异常补单编号</span>
				<span class="span2">商品图片</span>
				<span class="span3">商品编码</span>
				<span class="span4">商品名称</span>
				<span class="span5">品牌</span>
				<span class="span6">商品信息</span>
				<span class="span7">补货数量</span>
				<span class="span8">商品状态</span>
				<span class="span9">操作</span>
			</p>
			<p>
				<span class="span1">CM</span>
				<span class="span2"></span>
				<span class="span3"></span>
				<span class="span4"></span>
				<span class="span5"></span>
				<span class="span6"></span>
				<span class="span7">4个</span>
				<span class="span8">待签收</span>
				<span class="span9">签收</span>
			</p>
		</div>
	</div>
	<div id="mengban">
		<div class='div1'>
			<p class="p1">查看商品备注</p>
			<p class="p2">这里是产品备注。。。</p>
			<p class="btn"><button class="close">关闭</button><button class="save">保存</button></p>
		</div>
		<div class="div2">
			<p class="p1">查看商品备注</p>
			<p>商品编码：101001100001</p>
			<p>商品名称：电动窗帘电机</p>
			<p>下单数量：2台</p>
			<p>正常数量：2台</p>
			<p>破损数量：<input type="text" placeholder='0'>台</p>
			<p>短少数量：<input type="text" placeholder='0'>台</p>
			<p>是否需要补货：
				<form><input type="radio" name="buhuo" id="xuyao" checked='checked'><label for="xuyao">需要补货</label>
				<input type="radio" name="buhuo" id="wuxu"><label for="wuxu">无需补货</label></form>
			</p>
			<p class="btn"><button class="close">关闭</button><button class="save">保存</button></p>
		</div>
	</div>
</body>
<script type="text/javascript">
	$(".table1>p:not(.title)>.span8").click(function(){
		$("#mengban").css("display","block")
		$("#mengban>.div1").css('display','block')
		$("#mengban>.div2").css('display','none')
	})
	$("#mengban>.div1 .close").click(function(){
		$("#mengban").css("display","none")
	})
	$("#mengban>.div1 .save").click(function(){
		$("#mengban").css("display","none")
	})
	$(".table2>:not(.title)>.span9").click(function(){
		$("#mengban").css("display","block")
		$("#mengban>.div1").css('display','none')
		$("#mengban>.div2").css('display','block')
	})
	$("#mengban>.div2 .close").click(function(){
		$("#mengban").css("display","none")
	})
	$("#mengban>.div2 .save").click(function(){
		$("#mengban").css("display","none")
	})
</script>
</html>