<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src='../jquery/jquery-3.2.1.js'></script>
	<link rel="stylesheet" type="text/css" href="../css/异常订单.css">
</head>
<body>
	<div id="main">
		<div class="top"><a class="a1">订单管理</a>><a href="异常订单.html" class="a2">异常订单列表</a></div>
		<p>
			<span>异常单编号 <input type="text"></span>
			<span>订单编号 <input type="text"></span>
			<span>生成日期<input type="date">至<input type="date"></span>
		</p>
		<div class="select">异常单状态<select>
			<option>--请选择--</option>
			<option>待提交 </option>
			<option>已提交</option></select>
		</div>	
		<div class="btn">
			<button>查询</button><button>清空</button>
		</div>
		<div class="table">
			<p class="title">
				<span class="span1">序号</span>
				<span class="span2">异常单编号</span>
				<span class="span3">异常单类型</span>
				<span class="span4">销售订单编号</span>
				<span class="span5">异常单状态</span>
				<span class="span6">生成时间</span>
				<span class="span7">操作</span>
			</p>
			<p>
				<span class="span1">1</span>
				<span class="span2">YC201610090001</span>
				<span class="span3">客户签收异常</span>
				<span class="span4">EO201009300001</span>
				<span class="span5">待提交</span>
				<span class="span6"></span>
				<span class="span7"><a href="异常订单-无需补货.html">详情</a></span>
			</p>
			<p>
				<span class="span1">2</span>
				<span class="span2">YC201610090002</span>
				<span class="span3">客户签收异常</span>
				<span class="span4">EO201009300003</span>
				<span class="span5">已提交</span>
				<span class="span6"></span>
				<span class="span7"><a href="异常订单-需要补货.html">详情</a></span>
			</p>
		</div>





	</div>
</body>
</html>