<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../css/新增订单.css">
	<script src="../jquery/jquery-3.2.1.js"></script>
</head>
<body>
	<div id="main">
		<div class="top"><a class="a1">订单管理</a>><a href="订单列表.html" class="a2">订单列表</a>><a class="a3" href="新增订单.html">新增订单</a></div>
		<div class="basic_msg">
			<p>基本信息</p>
			<div class="div2 div">
				<span><b>*</b>订单联系人：<input type="text"></span>
				<span><b>*</b>联系人电话：<input type="text"></span>
				<span><b>*</b>收货人：<input type="text"></span>
			</div>
			<div class="div2 div">
				<span><b>*</b>收货人电话：<input type="text"></span>
				<span><b>*</b>期望到货日期：<input type="date"></span>
			</div>
			<div class="div4">
				<span><b>*</b>收货地址：<input type="text"></span>
			</div>
			<div class="div5">
				<span><b>*</b>订单备注：<input type="text"></span>
			</div>
		</div>
		<div class="sum_msg">
			<p>金额信息</p>
			<span>订单销售金额：17500 元</span>
			<div>
				<button class="save">保存订单</button>
				<button class="hebing">合并选品</button>
			</div>
		</div>
		<div class="yixuanzubao">
			<p>已选组包<span>添加组包</span></p>
			<div class="tr">
				<span class="span1">序号</span>
				<span class="span2">组包封面</span>
				<span class="span3">组包编码</span>
				<span class="span4">组包名称</span>
				<span class="span5">组包价格</span>
				<span class="span6">数量</span>
				<span class="span7">操作</span>
			</div>
			<div class="td">
				<span class="span1">1</span>
				<span class="span2"></span>
				<span class="span3">PK2017090001</span>
				<span class="span4">智能家居A包</span>
				<span class="span5">5000元</span>
				<span class="span6">1</span>
				<span class="span7"><span>保存</span><span>取消选品</span><span>查看组包信息</span></span>
			</div>
			<div class="td">
				<span class="span1">2</span>
				<span class="span2"></span>
				<span class="span3">PK2017090002</span>
				<span class="span4">智能家居B包</span>
				<span class="span5">6000元</span>
				<span class="span6">2</span>
				<span class="span7"><span>保存</span><span>取消选品</span><span>查看组包信息</span></span>
			</div>
		</div>
		<div class="yixuandanping">
			<p>已选单品<span>添加商品</span></p>
			<div class="tr">
				<span class="span1">序号</span>
				<span class="span2">商品图片</span>
				<span class="span3">商品编码</span>
				<span class="span4">商品名称</span>
				<span class="span5">品牌</span>
				<span class="span6">商品信息</span>
				<span class="span7">是否在已选组包中</span>
				<span class="span8">商品价格</span>
				<span class="span9">数量</span>
				<span class="span10">操作</span>
			</div>
			<div class="td">
				<span class="span1">1</span>
				<span class="span2"></span>
				<span class="span3">101001100001</span>
				<span class="span4">电动窗帘电机</span>
				<span class="span5">智能小家具</span>
				<span class="span6">型号：CC-320,材质：塑料金属，颜色：白</span>
				<span class="span7">是</span>
				<span class="span8">100</span>
				<span class="span9">1件</span>
				<span class="span10"><span>保存</span><span>取消商品</span></span>
			</div>
			<div class="td">
				<span class="span1">2</span>
				<span class="span2"></span>
				<span class="span3">101001100002</span>
				<span class="span4">控制主机</span>
				<span class="span5">智能小家具</span>
				<span class="span6">型号：LL-320,材质：塑料金属，颜色：黑</span>
				<span class="span7">否</span>
				<span class="span8">200</span>
				<span class="span9">2台</span>
				<span class="span10"><span>编辑</span><span>取消商品</span></span>
			</div>

		</div>

	</div>
	<div id="mengban">
		<div>
			<p class="p1">订单提交确认</p>
			<p class="p2">是否确认提交订单？</p>
			<p class="p3">订单提交之后订单不能再进行修改</p>
			<p class="btn"><button class="close">关闭</button><button class="inform">确认</button></p>
		</div>
	</div>
</body>
<script type="text/javascript">
	$(".sum_msg .save").click(function(){
		$("#mengban").css("display","block")
	})
	$("#mengban .close").click(function(){
		$("#mengban").css("display","none")
	})
	$("#mengban .inform").click(function(){
		window.location.href="订单详情-已提交.html"
		$("#mengban").css("display","none")
	})
</script>
</html>