<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>关于 HOMBEE</title>
		<link style="font-size: 22px;" href="../img/hombee.ico" rel="shortcut icon">
		<script src="../jquery/jquery.min.js"></script>
		<script src="../publice/navigation.js"></script>
		<link rel="stylesheet" type="text/css" href="../publice/navigation.css">
		<script src="../js/about.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/about.css">
	</head>
	<body>
		<div id="about">				
			<div class="top">
				<p class="texts">
					公司意在打造智慧家庭的生态体系，致力于智慧软装系统的研发和推广。我们把强大的技术研发和资深的软装设计团队融合，通过传<br><br>感器植入，信息系统打通等方式，将家里的沙发、床、枕头、餐桌、画、镜子、秤、血压仪等物件完美整合成家庭智慧生活体系，让生活安<br><br>心智能。HOMBEE、主营包括智能系统、家居、灯饰、布艺和饰品在内的全系列智能软装产品，并提供配套的搭配设计、配送安装等服务。<br><br>目前与宁波凯德、上海万景、万科、美好家、上海中海万锦城均有合作。
				</p>
				<div class="edition"><span>当前系统版本</span><span>v1.0.0</span></div>
			</div>
			<footer>
				<div class="erweima">
					<img src="../img/erweima.png"/><span>400-1133-200</span>
				</div>
				<p>苏州创爵智能科技有限公司</p>
				<p>Suzhou Chuangjue Intelligent Tech Co. Ltd <a href="http://www.hombee.cn">www.hombee.cn</a></p>
			</footer>
		</div>
	</body>
</html>
