<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>朋友圈</title>
	<link style="font-size: 22px;" href="../img/hombee.ico" rel="shortcut icon">
	<script src="../jquery/jquery.min.js"></script>
	<script src="../publice/navigation.js"></script>
	<link rel="stylesheet" type="text/css" href="../publice/navigation.css">
	<script src="../js/friends.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/friends.css">
</head>
<body>
	<div id="left">
		<div class="C_item">
			<div class="userMsg">
				<div class="userImg"></div>
				<div class="userName">张舒涵</div>
			</div>
			<div class="chart">
				
			</div>
		</div>
		<div class="C_item">
			<div class="userMsg">
				<div class="userImg"></div>
				<div class="userName">球球</div>
			</div>
			<div class="chart">
				
			</div>
		</div>
		<div class="C_item">
			<div class="userMsg">
				<div class="userImg"></div>
				<div class="userName">啥子哟</div>
			</div>
			<div class="chart">
				
			</div>
		</div>
	</div>
	<div id="right">
		<h3>健康<span style="color: #6ACFED;">达人</span></h3>
		<div class="friends">
			<div class="item">
				<span class="one"><img src="../img/jinpai.png"></img></span>
				<div class="friendImg"></div>
				<div class="friendName">张舒涵</div>
				<div class="one">
					<p>健康指数</p>
					<p class="num">23568</p>
				</div>
			</div>
			<div class="item">
				<span class="two"><img src="../img/yingpai.png"></img></span>
				<div class="friendImg"></div>
				<div class="friendName">张舒涵</div>
				<div class="two">
					<p>健康指数</p>
					<p class="num">23568</p>
				</div>
			</div>
			<div class="item">
				<span class="three"><img src="../img/tongpai.png"></img></span>
				<div class="friendImg"></div>
				<div class="friendName">张舒涵</div>
				<div class="three">
					<p>健康指数</p>
					<p class="num">23568</p>
				</div>
			</div>
			<div class="item">
				<span>4</span>
				<div class="friendImg"></div>
				<div class="friendName">张舒涵</div>
				<div>
					<p>健康指数</p>
					<p class="num">23568</p>
				</div>
			</div>
			<div class="item">
				<span>5</span>
				<div class="friendImg"></div>
				<div class="friendName">张舒涵</div>
				<div>
					<p>健康指数</p>
					<p class="num">23568</p>
				</div>
			</div>
		</div>
	</div>
</body>

</html>