<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>我的健康状况</title>
   <link style="font-size: 22px;" href="../img/hombee.ico" rel="shortcut icon">
   <script src="../jquery/jquery.min.js"></script>
   <script src="../publice/navigation.js"></script>
   <link rel="stylesheet" type="text/css" href="../publice/navigation.css">
   <script src="../js/myhealth.js"></script>
   <link rel="stylesheet" type="text/css" href="../css/myhealth.css">
</head>

<body>
   <div id="above">
      <p class="time">
         时间：
         <span>今天</span>
         <span><b>7</b>天</span>
         <span><b>14</b>天</span>
         <span><b>30</b>天</span>
         <a>2017-11-24至<input type="date" name=""></a>
      </p>
      <p class="data">
         数据：
         <span>身体</span>
         <span>刷牙</span>
         <span>睡眠</span>
         <span>皮肤</span>
         <span>饮水</span>
         <span>血糖</span>
         <span>血压</span>
      </p>
      <div class="share">
         此处是分享按钮
      </div>
   </div>
   <div id="middle">
      <div class="chart">
         此处是图表
      </div>
      <div class="list">
      	<h4>最新体重数据(最新数据)</h4>
      	<a>*该数据仅供参考，不可作为医疗数据直接使用</a>
      	<p>
      		<span>体重</span><span class="num">55.8Kg</span><span class="appraise">----</span>
      	</p>
      	<p>
      		<span>水分</span><span class="num">58.5%</span><span class="appraise">标准</span>
      	</p>
      	<p>
      		<span>体脂率</span><span class="num">21.2%</span><span class="appraise">标准</span>
      	</p>
      	<p>
      		<span>皮下脂肪率</span><span class="num">11.2%</span><span class="appraise">标准</span>
      	</p>
      	<p>
      		<span>内脏脂肪率</span><span class="num">10.2%</span><span class="appraise">标准</span>
      	</p>
      	<p>
      		<span>蛋白质</span><span class="num">21.2%</span><span class="appraise">偏高</span>
      	</p>
      	<p>
      		<span>基础代谢</span><span class="num">1491Cal</span><span class="appraise">标准</span>
      	</p>
      	<p>
      		<span>骨骼重量</span><span class="num">3.6Kg</span><span class="appraise">标准</span>
      	</p>
      	<p>
      		<span>骨骼肌率</span><span class="num">11.2%</span><span class="appraise">偏低</span>
      	</p>
      	<p>
      		<span>BMI</span><span class="num">212</span><span class="appraise">标准</span>
      	</p>
      </div>
   </div>
   <div id="bottom">
      <div class="div1">
         <h3>体重最新测量值</h3>
         <p class="p1"><span class="num">55.6</span><span class="unit">kg</span></p>
         <p class="p2">比<span class="num">52%</span>的朋友轻</p>
      </div>
      <div class="div2">
         <h3>体重平均值</h3>
         <p>
            上周平均值<span class="num">56.2</span><span class="unit">kg</span>
         </p>
         <p>
            上月平均值<span class="num">55.3</span><span class="unit">kg</span>
         </p>
      </div>
      <div class="div3">
         <h3>最新体重变化值</h3>
         <p>
            比上周平均值<span class="low">低</span><span class="num">0.4</span><span class="unit">kg</span></p>
         <p>
            比上月平均值<span class="high">高</span><span class="num">0.5</span><span class="unit">kg</span>
         </p>
      </div>
      <div class="div4">
         <h3>体重历史最值</h3>
         <p class="max">
            历史最大值<span class="num">56.2</span><span class="unit">kg</span>
         </p>
         <p class="min">
            历史最小值<span class="num">55.3</span><span class="unit">kg</span>
         </p>
      </div>
   </div>
   </div>
</body>

</html>