<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
   <link rel="stylesheet" href="../css/backlogmsg.css">
   <script src="../../public/fontSize-auto.js"></script>
</head>
<body>
   <div id="backlog">
      <h3>
         <span></span>消息<img src="../../img/arr_right_g.png" alt="">
         消息中心
         <a class="a1 underline" href="backlogmsg.html">待办事项</a>
         <a class="a2" href="informmsg.html">消息通知</a>
      </h3>
      <p class="first">
         <span>序号</span>
         <span>待办事项</span>
         <span>创建时间</span>
         <span>操作</span>
      </p>
      <p>
         <span>1</span>
         <span></span>
         <span>2017-12-06 12:05</span>
         <span>
            <a href="">去操作</a>
         </span>
      </p>
      <p>
         <span>2</span>
         <span></span>
         <span>2017-12-06 12:05</span>
         <span>
            <a href="">去操作</a>
         </span>
      </p>
      <p>
         <span>3</span>
         <span></span>
         <span>2017-12-06 12:05</span>
         <span>
            <a href="">去操作</a>
         </span>
      </p>
      <p>
         <span>4</span>
         <span></span>
         <span>2017-12-06 12:05</span>
         <span>
            <a href="">去操作</a>
         </span>
      </p>
      <p>
         <span>5</span>
         <span></span>
         <span>2017-12-06 12:05</span>
         <span>
            <a href="">去操作</a>
         </span>
      </p>
   </div>
   <div class="page">
      <span class="prev"><</span>
      <span id="actived" class="item">1</span>
      <span class="item">2</span>
      <span class="item">3</span>
      <span class="next">></span>
   </div>
</body>

</html>