<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
   <link rel="stylesheet" href="../css/qiyekehu.css">
   <script src="../js/qiyekehu.js"></script>
</head>

<body>
   <div id="main">
      <h3>
         <span></span>客户管理
         <img src="../../img/arr_right_g.png" alt=""> 企业客户
      </h3>
      <p class="p1">
         <span>企业客户编码：
            <input type="text" placeholder="输入">
         </span>
         <span>企业简称：
            <input type="text" placeholder="输入">
         </span>
         <span>联系人：
            <input type="text" placeholder="输入">
         </span>
         <span>联系电话：
            <input type="text" placeholder="输入">
         </span>
      </p>
      <p class="p2">
         <span>联系地址：
            <input type="text" placeholder="输入">
         </span>
         <span>创建时间：
            <input type="date">->
            <input type="date">
         </span>
      </p>
      <div class="btn">
         <button class="search">搜索</button>
         <button class="reset">重置</button>
         <input type="button" value="+新增企业客户">
      </div>
      <div class="table">
         <p class="first">
            <span class="span1">序号</span>
            <span class="span2">企业客户编码</span>
            <span class="span3">企业简称</span>
            <span class="span4">联系人</span>
            <span class="span5">联系电话</span>
            <span class="span6">联系地址</span>
            <span class="span7">创家人</span>
            <span class="span8">创建时间</span>
            <span class="span9">操作</span>
         </p>
         <p>
            <span class="span1">1</span>
            <span id="qiyeBM" class="span2">CQ201709000001</span>
            <span id="qiyeJC" class="span3">苏州万科集团</span>
            <span id="lianxiR" class="span4">张磊</span>
            <span id="lianxiDH" class="span5">18389895656</span>
            <span id="lianxiDZ" class="span6">广安万南街80号中加大厦A座1906室</span>
            <span class="span7">Lucy</span>
            <span class="span8">2017-12-06</br>12:08:06</span>
            <span class="span9">
               <a class="redact" href="">编辑</a>
               <a class="delete" href="">删除</a>
            </span>
         </p>
         <p>
            <span class="span1">1</span>
            <span id="qiyeBM" class="span2">CQ201709000001</span>
            <span id="qiyeJC" class="span3">北京首都房地产开发公司</span>
            <span id="lianxiR" class="span4">李四</span>
            <span id="lianxiDH" class="span5">18389895656</span>
            <span id="lianxiDZ" class="span6">广安万南街80号中加大厦A座1906室</span>
            <span class="span7">Lucy</span>
            <span class="span8">2017-12-06</br>12:08:06</span>
            <span class="span9">
               <a class="redact" href="">编辑</a>
               <a class="delete" href="">删除</a>
            </span>
         </p>
         <p>
            <span class="span1">1</span>
            <span id="qiyeBM" class="span2">CQ201709000001</span>
            <span id="qiyeJC" class="span3">苏州万科集团</span>
            <span id="lianxiR" class="span4">张磊</span>
            <span id="lianxiDH" class="span5">18389895656</span>
            <span id="lianxiDZ" class="span6">广安万南街80号中加大厦A座1906室</span>
            <span class="span7">Lucy</span>
            <span class="span8">2017-12-06</br>12:08:06</span>
            <span class="span9">
               <a class="redact" href="">编辑</a>
               <a class="delete" href="">删除</a>
            </span>
         </p>
         <p>
            <span class="span1">1</span>
            <span id="qiyeBM" class="span2">CQ201709000001</span>
            <span id="qiyeJC" class="span3">苏州万科集团</span>
            <span id="lianxiR" class="span4">张磊</span>
            <span id="lianxiDH" class="span5">18389895656</span>
            <span id="lianxiDZ" class="span6">广安万南街80号中加大厦A座1906室</span>
            <span class="span7">Lucy</span>
            <span class="span8">2017-12-06</br>12:08:06</span>
            <span class="span9">
               <a class="redact" href="">编辑</a>
               <a class="delete" href="">删除</a>
            </span>
         </p>
      </div>
   </div>
   <div id="mengban">
      <div class="msg">
         <h3>
            <span></span><b></b>
            <img class="close" src="../../img/close.png" alt="关闭" >
         </h3>
         <p>
            <span><i>*</i><span>企业简称：</span><input type="text"></span>
            <span><i>*</i><span>企业客户编码：</span><input type="text"></span>
            <span><i>*</i><span>联系人：</span><input type="text"></span>
         </p>
         <p>
            <span><i>*</i><span>联系电话：</span><input type="text"></span>
            <span><i>*</i><span>联系地址：&ensp;&ensp;&ensp;&ensp;</span><input type="text"></span>
            <span><i>*</i><span>邮件：&ensp;&ensp;</span><input type="text"></span>
         </p>
         <p>
            <span><i>*</i><span>登录账号：</span><input type="text" placeholder="请输入企业客户登录账号"></span>
            <span><i>*</i><span>登录密码：&ensp;&ensp;&ensp;&ensp;</span><input type="text" placeholder="请输入企业客户登录密码"></span>
         </p>
         <p class="texts">&ensp;&ensp;备注：&ensp;&ensp;&ensp;<textarea></textarea></p>
         <div class="btn">
            <button class="save">保存</button>
            <button class="cancel">取消</button>
         </div>
      </div>
      <div class="informMsg">
         <p>删除提示</p> 
         <p>是否确认要删除此条信息？</p>
         <button class="inform">确认</button>
         <button class="cancel">取消</button>
      </div>
   </div>
</body>

</html>