<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>用户数据管理平台</title>
		<link style="font-size: 22px;" href="../img/hombee.ico" rel="shortcut icon">
		<link rel="stylesheet" type="text/css" href="../css/enter.css">
		<script src="../js/enter.js"></script>
	</head>
	<body>
		<div id="main">
			<p class="title">
				HOMBEE用户数据管理平台
			</p>
			<div class="table">
				<p>
					<span id="zhdl" class="enterIng">账号密码登录</span>
					<!-- <span id="smdl">扫码登录</span> -->
				</p>
				<div class="zhanghao">					
					<p><input class="user" type="text" placeholder="手机号"/></p>
					<p><input class="pass" type="password" placeholder="密码"/></p>
					<div><span class="btn">登录</span></div>
				</div>
				<!-- <div class="saoma">
					<div class="erweima"><img src=""/></div>
					<p>使用HOMBEE移动APP中的扫一扫功能，扫描上方二维码</p>
				</div> -->
			</div>
			<footer>
				<img src="../img/dlyLogo.png"/>
				<p>苏州创爵智能科技有限公司</p>
				<p>SUZHOU CHUANGJUE INTELLIGENT TECH CO LTD</p>
			</footer>
		</div>
	</body>	
</html>
