<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的好友</title>
	<link style="font-size: 22px;" href="../img/hombee.ico" rel="shortcut icon">
	<script src="../jquery/jquery.min.js"></script>
	<script src="../publice/navigation.js"></script>
	<link rel="stylesheet" type="text/css" href="../publice/navigation.css">
	<script src="../js/myfriend.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/myfriend.css">
</head>
<body>
	<div id="left">
		<div class="sort">排序：
			<span class="btn">按添加时间排序</span>
			<span class="btn">按用户名首字母排序</span>
			<span class="search"><input type="text" placeholder="请输入用户名或备注"><img src="../img/search.png"></span>
		</div>
		<div class="friends">
			<div class="item">
				<div class="msg">
					<div class="friendImg"></div>
					<div class="userMsg">
						<p class="username">航海家</p>
						<p>17625621850</p>
					</div>
				</div>
				<p><span>健康指数</span><span class="num">23367</span></p>
				<img src="../img/set.png">
				<div class="none">
					<span class="remark">设置备注</span>
					<span class="delete">删除好友</span>
				</div>
			</div>
			<div class="item">
				<div class="msg">
					<div class="friendImg"></div>
					<div class="userMsg">
						<p class="username">航海家</p>
						<p>17625621850</p>
					</div>
				</div>
				<p><span>健康指数</span><span class="num">23367</span></p>
				<img src="../img/set.png">
				<div class="none">
					<span class="remark">设置备注</span>
					<span class="delete">删除好友</span>
				</div>
			</div>
			<div class="item">
				<div class="msg">
					<div class="friendImg"></div>
					<div class="userMsg">
						<p class="username">航海家</p>
						<p>17625621850</p>
					</div>
				</div>
				<p><span>健康指数</span><span class="num">23367</span></p>
				<img src="../img/set.png">
				<div class="none">
					<span class="remark">设置备注</span>
					<span class="delete">删除好友</span>
				</div>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>
	<div id="right">
		<h3>健康<span style="color: #6ACFED;">达人</span></h3>
		<div class="friends">
			<div class="item">
				<span class="one"><img src="../img/jinpai.png"></img></span>
				<div class="friendImg"></div>
				<div class="friendName">张舒涵</div>
				<div class="one">
					<p>健康指数</p>
					<p class="num">23568</p>
				</div>
			</div>
			<div class="item">
				<span class="two"><img src="../img/yingpai.png"></img></span>
				<div class="friendImg"></div>
				<div class="friendName">张舒涵</div>
				<div class="two">
					<p>健康指数</p>
					<p class="num">23568</p>
				</div>
			</div>
			<div class="item">
				<span class="three"><img src="../img/tongpai.png"></img></span>
				<div class="friendImg"></div>
				<div class="friendName">张舒涵</div>
				<div class="three">
					<p>健康指数</p>
					<p class="num">23568</p>
				</div>
			</div>
			<div class="item">
				<span>4</span>
				<div class="friendImg"></div>
				<div class="friendName">张舒涵</div>
				<div>
					<p>健康指数</p>
					<p class="num">23568</p>
				</div>
			</div>
			<div class="item">
				<span>5</span>
				<div class="friendImg"></div>
				<div class="friendName">张舒涵</div>
				<div>
					<p>健康指数</p>
					<p class="num">23568</p>
				</div>
			</div>
		</div>
	</div>
	<div id="masking">
		<div>
			<p class="title"></p>
			<p class="msg"></p>
			<p class="newname">备注<input type="text"></p>
			<button class="confirm">确认</button><button class="cancel">取消</button>
			<img class="close" src="../img/close.png">
		</div>
	</div>
</body>

</html>