#main{
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   /* border:2px solid red; */
}
#main .top{
   width: 100%;
   height: 50px;
   box-sizing: border-box;
   padding-left: 30px;
   line-height: 50px;
   font-size: 18px;
   border: 1px solid #b0b0b0;
}
#main .top a{
   cursor: pointer;
   text-decoration: underline;
}
#main .msgs{
   width: 100%;
   height: 90%;
   box-sizing: border-box;
   padding: 20px 40px 0 40px;
   /* border: 2px solid red; */
}

#main .backlog>div{
   width: 100%;
   height: 45px;
   line-height: 45px;
   display: flex;
   margin-top: 10px;
   border: 1px solid #b0b0b0;
   margin-bottom: 0;
}
#main .backlog>div:not(.th){
   border-top: none;
   margin: 0;
}
#main .backlog span{
   box-sizing: border-box;
   text-align: center;
}
#main .backlog .span1{
   width: 10%;
}
#main .backlog .span2{
   width: 65%;
   border-left: 1px solid #b0b0b0;
   border-right: 1px solid #b0b0b0;
}
#main .backlog .span3{
   width: 15%;
   border-right: 1px solid #b0b0b0;
}
#main .backlog .span4{
   width: 10%;
}