#main{
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   /* border:2px solid red; */
}
#main .top{
   width: 100%;
   height: 50px;
   box-sizing: border-box;
   padding-left: 30px;
   line-height: 50px;
   font-size: 18px;
   border: 1px solid #b0b0b0;
}
#main .top .a2,#main .top .a3{
   cursor: pointer;
   text-decoration: underline;
}
#main .basic_msg>p{
   width: 100%;
   font-size: 20px;;
   font-weight:600;
   padding-bottom:5px;
   border-bottom:2px solid #b0b0b0;
}
#main .basic_msg>div{
   width: 100%;
   height: 40px;
   box-sizing:border-box;
   display: flex;
   align-items:center;
}
#main .basic_msg .div>span{
   display:block;
   text-align: left;
   width: 30%;
}
#main .basic_msg .div4 span,#main .basic_msg .div5 span{
   display:block;
   width: 90%;
}
#main .basic_msg .div4 input,#main .basic_msg .div5 input{
   width: 50%;
}
#main .sum_msg>.title{
   width: 100%;
   font-size: 20px;;
   font-weight:600;
   padding-bottom:5px;
   border-bottom:2px solid #b0b0b0;
}
#main .sum_msg>span{
   margin-right: 60px;
}
#main .shangpinliebiao>p{
   width: 100%;
   font-size: 20px;;
   font-weight:600;
   padding-bottom:5px;
   border-bottom:1px solid #b0b0b0;
}
#main .shangpinliebiao>div{
   width: 100%;
   height: 40px;
   line-height: 40px;
   display: flex;
   align-items:center;
   border: 1px solid #b0b0b0;
}
#main .shangpinliebiao>div:not(.tr){
   border-top:none;
}
#main .shangpinliebiao>div>span{
   display: inline-block;
   height: 100%;
   text-align: center;
}
#main .shangpinliebiao>div>span:nth-of-type(even){
   border-right:1px solid #b0b0b0;
   border-left:1px solid #b0b0b0;
}
#main .shangpinliebiao>div>.span1{
   width: 6%;
}
#main .shangpinliebiao>div>.span2,#main .shangpinliebiao>div>.span3{
   width: 12%;
}
#main .shangpinliebiao>div>.span4,#main .shangpinliebiao>div>.span5,#main .shangpinliebiao>div>.span7,#main .shangpinliebiao>div>.span8{
   width: 10%;
}
#main .shangpinliebiao>div>.span6{
   width: 30%;
}
#main .shangpinliebiao>.td>.span8{
   color:#169BD5;
}
#mengban{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   background: rgba(0,0,0,.5);
   display: none;
}
#mengban>div{
   width: 400px;
   height: 260px;
   box-sizing: border-box;
   padding-left:20px;
   background:#fff;
   margin: 300px auto;
}
#mengban>div>.p1{
   padding: 5px 0;
   border-bottom:1px solid #b0b0b0;
   margin-bottom:50px;
}
#mengban .p2,#mengban .p3,#mengban .btn{
   text-align:center;
}
#mengban .btn button{
   padding:4px 15px;
   margin: 0 20px;
}
