#main{
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   /* border:2px solid red; */
}
#main .top{
   width: 100%;
   height: 50px;
   box-sizing: border-box;
   padding-left: 30px;
   line-height: 50px;
   font-size: 18px;
   border: 1px solid #b0b0b0;
}
#main .top .a2{
   cursor: pointer;
   text-decoration: underline;
}
#main .search{
   width: 100%;
   height: 100px;
   box-sizing: border-box;
}
#main .search .p1{
   width: 100%;
   height: 45%;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
#main .search .p1 span{
   width: 30%;
   /*border: 1px solid red;*/
}
#main .search .p1 input,#main .search .p1 select{
   width: 50%;
   height: 30px;
}
#main .search .p2{
   width: 100%;
   height: 45%;
   /*text-align: center;*/
}
#main .search .p2 button{
   width: 100px;
   height: 80%;
   border-radius: 10px;
   outline:none;
}
#main .search .btn1{
   color: #ffffff;
   background: #169BD5;
   border:none;
   margin:0 50px 0 35%;
}
#main .search .btn2{
   border:1px solid #b0b0b0;
   background:#fff;
}
#main .msgs{
   width: 100%;
   box-sizing: border-box;
   margin-top:15px;
   /*border:1px solid red;*/
}
#main .msgs>span{
   display: block;
   width: 120px;
   height: 40px;
   text-align: center;
   line-height:40px;
   background:#169BD5;
   color:#fff;
   border-radius: 10px;
   margin-left:15px;
   margin-bottom:20px;
}
#main .msgs>div{
   width: 100%;
   height: 45px;
   line-height: 45px;
   display: flex;
   align-items:center;
   border: 1px solid #b0b0b0;
   margin: 0;
}
#main .msgs>div:not(.th){
   border-top:none;
}
#main div span{
   display: inline-block;
   height: 100%;
   text-align: center;
}
#main .msgs span:nth-of-type(even){
   border-left: 1px solid #b0b0b0;
   border-right:1px solid #b0b0b0;
}
#main div .span1,#main div .span7{
   width: 5%;
}
#main div .span2,#main div .span4,#main div .span6{
   width: 20%;
}
#main div .span3,#main div .span5{
   width: 15%;
}

