<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
   <link rel="stylesheet" href="../css/qiyekehu-dingdan.css">
   <script src="../../public/fontSize-auto.js"></script>
</head>

<body>
   <div id="main">
      <h3>
         <span></span>订单管理
         <img src="../../img/arr_right_g.png" alt=""> 个人客户销售订单
      </h3>
      <p class="p1">
         <span>订单编号：&ensp;&ensp;
            <input type="text" placeholder="输入">
         </span>
         <span>订单状态：
            <input type="text" placeholder="输入">
         </span>
         <span>客户名称：&ensp;&ensp;&ensp;&ensp;
            <input type="text" placeholder="输入">
         </span>
         <span>订单联系人:
            <input type="text" placeholder="输入">
         </span>
      </p>
      <p class="p2">
         <span>联系人电话：
            <input type="text" placeholder="输入">
         </span>
         <span>支付状态：
            <select id="">
               <option value="">请选择</option>
               <option value="">待支付预付款</option>
               <option value="">待支付尾款</option>
               <option value="">支付完成</option>
            </select>
         </span>
         <span>收货是否异常：
            <select id="">
               <option value="">请选择</option>
            </select>
         </span>
         <span>订单来源:&ensp;&ensp;
            <select id="">
               <option value="">请选择</option>
            </select>
         </span>
      </p>
      <div class="btn">
         <button class="search">搜索</button>
         <button class="reset">重置</button>
         <input type="button" value="+新增订单">
      </div>
      <div class="table">
         <p class="first">
            <span class="span1">序号</span>
            <span class="span2">订单编号</span>
            <span class="span3">客户名称</span>
            <span class="span4">客户编码</span>
            <span class="span5">订单联系人</span>
            <span class="span6">联系人电话</span>
            <span class="span7">订单状态</span>
            <span class="span8">订单来源</span>
            <span class="span9">收获是否异常</span>
            <span class="span10">支付状态</span>
            <span class="span11">创建时间</span>
            <span class="span12">操作</span>
         </p>
         <p>
            <span class="span1">1</span>
            <span class="span2">CQ201709000001</span>
            <span class="span3">苏州万科集团</span>
            <span class="span4">CQ2565896</span>
            <span class="span5">张磊</span>
            <span class="span6">18856478989</span>
            <span class="span7">已合并选品</span>
            <span class="span8">销售下单</span>
            <span class="span9">否</span>
            <span class="span10">待支付预付款</span>
            <span class="span11">2017-12-06</br>12:08:06</span>
            <span class="span12">
               <a href="">详情</a>
            </span>
         </p>
         <p>
            <span class="span1">1</span>
            <span class="span2">CQ201709000001</span>
            <span class="span3">苏州万科集团</span>
            <span class="span4">CQ2565896</span>
            <span class="span5">张磊</span>
            <span class="span6">18856478989</span>
            <span class="span7">已合并选品</span>
            <span class="span8">销售下单</span>
            <span class="span9">否</span>
            <span class="span10">待支付预付款</span>
            <span class="span11">2017-12-06</br>12:08:06</span>
            <span class="span12">
               <a href="">详情</a>
            </span>
         </p>
         <p>
            <span class="span1">1</span>
            <span class="span2">CQ201709000001</span>
            <span class="span3">苏州万科集团</span>
            <span class="span4">CQ2565896</span>
            <span class="span5">张磊</span>
            <span class="span6">18856478989</span>
            <span class="span7">已合并选品</span>
            <span class="span8">销售下单</span>
            <span class="span9">否</span>
            <span class="span10">待支付预付款</span>
            <span class="span11">2017-12-06</br>12:08:06</span>
            <span class="span12">
               <a href="">详情</a>
            </span>
         </p>
         <p>
            <span class="span1">1</span>
            <span class="span2">CQ201709000001</span>
            <span class="span3">苏州万科集团</span>
            <span class="span4">CQ2565896</span>
            <span class="span5">张磊</span>
            <span class="span6">18856478989</span>
            <span class="span7">已合并选品</span>
            <span class="span8">销售下单</span>
            <span class="span9">否</span>
            <span class="span10">待支付预付款</span>
            <span class="span11">2017-12-06</br>12:08:06</span>
            <span class="span12">
               <a href="">详情</a>
            </span>
         </p>
         <p>
            <span class="span1">1</span>
            <span class="span2">CQ201709000001</span>
            <span class="span3">苏州万科集团</span>
            <span class="span4">CQ2565896</span>
            <span class="span5">张磊</span>
            <span class="span6">18856478989</span>
            <span class="span7">已合并选品</span>
            <span class="span8">销售下单</span>
            <span class="span9">否</span>
            <span class="span10">待支付预付款</span>
            <span class="span11">2017-12-06</br>12:08:06</span>
            <span class="span12">
               <a href="">详情</a>
            </span>
         </p>
      </div>

   </div>
</body>

</html>